---
import Layout from '../../layouts/Layout.astro';
let paths = [ 
"wendyc/hch-x-wixarika_3jn_text_reg",
"paco_camacho/hch-x-wixarika_mat_text_reg/",
"linguaforo/cri_gal_text_reg/",
"faustin_azaza/zms_rom_text_reg/",
"emuneme/nya-x-makwemarav_mat_text_reg",
"fabiano/nyk_mat_text_reg",
"klero/lul_1pe_text_reg",
"andriatiana_wa/tdx-x-mahafaly_heb_text_reg",
"Ruben/gl_act_text_reg"
  ]
---

<Layout title="Repo">
<div class="p-8">

	<h2>Some Paths Possible </h2>
	<div class="flex flex-col gap-2 p-8">
		{paths.map(path => {
			return (
				<div> 	
					<a href={path} class="text-blue-700 underline"> {path} </a>
					</div>
					)
				})}
		 </div>
		 
		</div>
</Layout>

<style>
	main {
		margin: auto;
		padding: 0 1.5rem;
		max-width: 90%;
	}
</style>

